<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur aperiam molestias, possimus nisi dicta
    vitae cumque suscipit tenetur natus quis necessitatibus voluptates nostrum vel saepe. Quam fugiat aperiam
    repudiandae?
    Amet quia velit esse aut voluptates distinctio quis magni nisi autem assumenda, optio quam iste earum aliquam
    molestias ab ad nihil ullam perferendis tempora accusamus corrupti temporibus omnis explicabo. Ullam.
  </p>
</section>
