<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita molestias quas esse dolores eligendi corrupti
    aperiam odit hic laudantium veritatis mollitia, commodi, deserunt omnis laboriosam dignissimos non. Mollitia,
    voluptate omnis!
    Illo mollitia quod iure consequuntur excepturi non similique reprehenderit, sit doloribus fugiat, at blanditiis
    dignissimos alias nobis veritatis eveniet explicabo ducimus minima amet in. Eum incidunt aspernatur maxime
    laboriosam libero.
    Recusandae ex, dolore totam atque corporis pariatur deleniti, nam beatae eligendi itaque provident repudiandae aut!
    Et laboriosam placeat assumenda, quas perferendis distinctio optio magni! Accusantium eveniet eaque autem aliquam
    distinctio!
  </p>
</section>
